.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  margin-top: 50px;
  border-radius: 15px;
}

.textSection {
  flex: 1;
}

.textSection {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heading {
  font-size: 24px;
  font-weight: 300;
  font-weight: 198;
  margin-bottom: 20px;
}

.description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #565656;
}

.link:hover {
  color: #0056b3;
}

.mediaPlaceholder {
  background-color: #f0f0f0;
  height: 300px;
  width: 500px;
  margin-left: 30px;
  border-radius: 15px;
}

.descriptionBottom {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #000;
}

.link {
  font-size: 1rem;
  color: #da8dfe;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #0056b3;
} 





.container {
    position: relative;
    width: 100%;
    transition: transform 0.05s ease-in-out;
  }
  
  .slideInFromRight {
    transform: translateX(100%);
    animation: slideInFromRight 0.01s forwards;
  }
  
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .slideInFromLeft {
    transform: translateX(-100%);
    animation: slideInFromLeft 0.01s forwards;
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }