.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'JUST Sans Variable', sans-serif;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partners h1 {
  font-size: 40px;
  font-weight: 300;
}
.partnerLogos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-top: 60px;
}

.partnerLogos img {
  max-width: 60%;
  max-height: 35px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  justify-self: center;
  align-self: center;
}

.partnerLogos img:hover {
  filter: grayscale(0%);
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
}

.faq h2 {
  margin-bottom: 60px;
  margin-top: 60px;
  font-size: 40px;
  font-weight: 300;
}

.faqItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 65%;
}

.faqItem:hover {
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 1px solid rgb(224, 222, 222);
}

.question {
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqItem {
  margin-bottom: 10px; 
  border-radius: 16px;
  padding: 10px 0;
  height: auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.question {
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  font-size: 14px;
  color: #616161;
  padding: 15px;
  line-height: 20px;
  width: 80%;
}

.toggleIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.faqItem.open {
  background-color: #F6F7F8; 
}

.faqItem:hover {
  background-color: #F6F7F8; 
}